

.disableScrollbar::-webkit-scrollbar {
  background: transparent;
  width: 0px;
}

.disableScrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar {
  background: transparent;
  width: 0px;
}


body{
  overflow: hidden;
  height: 100%;
}

#root{
  height: 100%;
}


.app {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 80px 1fr;
  grid-template-areas: "nav     nav"
    "sidebar main";
}


h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  color: #19191A;
}

.nav {
  grid-area: nav;
}



.sidebar {
  grid-area: sidebar;
}

.sidebar img{
  height: calc(100vh - 80px);
}




.recipes {
  grid-area: main;
  padding-left: 48px;
  height: 100%;
}

.recipes__nav {
  height: 200px;
  font-size: 14px;
}

.recipes__nav {
  display: flex;
  flex-direction: column;
} 

.recipes__nav__subtitle {
  margin-bottom: 32px;
}


.recipes__nav__bar {
  display: flex;
  flex-direction: row;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.recipes__nav__search {
  display: flex;
  margin-right: 16px;
  margin-bottom: 24px;
  height: 48px;
  width: 50%;
  max-width: 490px;
  background: #F9F9F9;
  border-radius: 16px;
  align-items: center;
  padding-left: 12px;
}

.recipes__nav__search img {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

.recipes__nav__drop {
  height: 48px;
  background: #EBF0F3;
  border-radius: 16px;
  text-align: center;
  padding-left: 24px;
  padding-right: 20px;
  position: relative;
}


.recipes__nav__drop img {
  margin-left: 8.5px;
}


.droplist {
  position: absolute;
  top: 100%;
  left: 0%;
  width: 261px;
  background: #FDFDFD;
  box-shadow: 0px 4px 20px rgba(30, 54, 70, 0.5);
  border-radius: 16px;
  text-align: left;
  color: #1E3646;
  z-index: 2;
  padding: 16px;

  grid-gap: 16px;
  display: grid;
  grid-template-columns: 1fr 24px;
  grid-template-rows: 24px 24px 24px;
  justify-content: center;
}

input[type='radio']:after {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  top: -1px;
  left: -2px;
  position: relative;
  background-color: white;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid  #79797A;
}

input[type='radio']:checked:after {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  top: -1px;
  left: -2px;
  position: relative;
  background-color: white;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid #3C6C8D;
}
input[type='radio']:checked{
  position: relative;
}

input[type='radio']:checked:before {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  top: 5px;
  left: 4px;
  position: absolute;
  background-color: #3C6C8D;
  content: '';
  display: inline-block;
  visibility: visible;
  z-index: 1;
}


.recipes__table {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

.recipes__table--items>div {
  padding: 8px;
  border-bottom: 1px solid #EBF0F3;
}


.recipes__table--items {
  
  height: 100%;
  overflow: scroll;
  grid-auto-rows: 40px;
  font-size: 14px;
  font-weight: 400;
  color: #19191A;
}


.recipes__table--header {
  margin-bottom: 8px;
  grid-template-rows: 48px;
  font-weight: 600;
  font-size: 12px;
  color: #79797A;
  line-height: 48px;
}

.recipes__table--header>div {
  padding: 8px;
  border-bottom: 1px solid #B1C4D1;
}