@import url('https://fonts.googleapis.com/css?family=Poppins');

.disableScrollbar::-webkit-scrollbar {
  background: transparent;
  width: 0px;
}

.disableScrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar {
  background: transparent;
  width: 0px;
}

#root {
  height: 100%;
  --disable-color: #79797A;
  --standard-color: #19191A;
  --sticker-color: #404042;
  --background-standard-color: #ffffff;
  --background-gray-color: #FDFDFD;
}

body {
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  height: 100%;
  color: var(--standard-color);
  font-size: 14px;
  font-weight: 400;
}




.app {
  height: 100%;
  display: grid;
  grid-template-columns: auto 4fr;
  grid-template-rows: 80px 1fr;
  grid-template-areas: "nav     nav"
    "sidebar main";
}


h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
}

.disable {
  color: var(--disable-color);
}




.nav {
  grid-area: nav;
}



.sidebar {
  grid-area: sidebar;
  overflow: hidden;
}

.sidebar img {
  height: calc(100vh - 80px);
}




.recipes {
  grid-area: main;
  padding-left: 48px;
  height: 100%;
  position: relative;
}



.recipes__nav {
  display: flex;
  flex-direction: column;
}

.recipes__nav__subtitle {
  margin-bottom: 32px;
}


.recipes__nav__bar {
  display: flex;
  flex-direction: row;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.recipes__nav__search {
  display: flex;
  margin-right: 16px;
  margin-bottom: 24px;
  height: 48px;
  width: 50%;
  max-width: 490px;
  background: #F9F9F9;
  border-radius: 16px;
  align-items: center;
  padding-left: 12px;
}

.recipes__nav__search img {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

.recipes__nav__drop {
  position: relative;
  height: 48px;
}

.recipes__nav__button {
  height: 48px;
  background: #EBF0F3;
  border-radius: 16px;
  text-align: center;
  padding-left: 24px;
  padding-right: 20px;
  cursor: pointer;
  border: none;
  font-size: 14px;
  line-height: 48px;
}


.recipes__nav__drop img {
  margin-left: 8.5px;
}


.droplist__list {
  position: absolute;
  top: 100%;
  left: 0%;
  width: 261px;
  background: var(--background-gray-color);
  box-shadow: 0px 4px 20px rgba(30, 54, 70, 0.5);
  border-radius: 16px;
  text-align: left;
  color: #1E3646;
  z-index: 2;
  padding: 16px;

  grid-gap: 16px;
  display: grid;
  grid-template-columns: 1fr 24px;
  grid-template-rows: 24px 24px 24px;
  justify-content: center;
}

input[type='radio']:after {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  top: -1px;
  left: -2px;
  position: relative;
  background-color: white;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid #79797A;
}

input[type='radio']:checked:after {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  top: -1px;
  left: -2px;
  position: relative;
  background-color: white;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid #3C6C8D;
}

input[type='radio']:checked {
  position: relative;
}

input[type='radio']:checked:before {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  top: 5px;
  left: 4px;
  position: absolute;
  background-color: #3C6C8D;
  content: '';
  display: inline-block;
  visibility: visible;
  z-index: 1;
}

.recipes__nav__search__input {
  width: 85%;
  border: none;
  background-color: transparent;
  font-weight: 600;
  font-size: 14px;
}

input[type='text']::placeholder {
  font-size: 14px;
  color: var(--disable-color);
  font-weight: 400;
}





.recipes__table {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

.recipes__table--items>div {
  padding: 8px;
  border-bottom: 1px solid #EBF0F3;
}


.recipes__table--items {
  max-height: calc(100vh - 360px);
  overflow-y: scroll;
  grid-auto-rows: 40px;
  font-size: 14px;
  font-weight: 400;
}


.recipes__table--header {
  margin-bottom: 8px;
  grid-template-rows: 48px;
  font-weight: 600;
  font-size: 12px;
  line-height: 48px;
  overflow: hidden;
}

.recipes__table--header>div {
  padding: 8px;
  border-bottom: 1px solid #B1C4D1;
}

.recipes__addRecipe {
  cursor: pointer;
  border: none;
  width: 56px;
  height: 56px;
  position: absolute;
  bottom: 24px;
  right: 24px;
  border-radius: 100%;
  background-color: #0C969D;
}

.recipes__addRecipe::after {
  content: "";
  position: absolute;
  width: 1.5px;
  height: 24px;
  background-color: var(--background-standard-color);
  top: 16px;
  left: 49%;
}

.recipes__addRecipe::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 1.5px;
  background-color: var(--background-standard-color);
  top: 49%;
  left: 16px;
}

.recipes__addRecipe:hover .recipes__addRecipe__hover {
  visibility: visible;
}

.recipes__addRecipe__hover {
  visibility: hidden;
  width: 99px;
  height: 32px;
  color: var(--background-standard-color);
  border-radius: 8px;
  font-size: 12px;
  line-height: 32px;
  text-align: center;
  background-color: var(--sticker-color);
  position: absolute;
  top: 12px;
  left: -101px;
}

.recipes__addRecipe__hover::after {
  width: 12px;
  height: 12px;
  content: "";
  position: absolute;
  left: 91%;
  top: 10px;
  background-color: var(--sticker-color);
  transform: rotateZ(45deg);
  z-index: -1;
}

.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 4;
  background: rgba(30, 54, 70, 0.3);
  display: grid;
  grid-template-columns: 1fr 464px;
  grid-template-areas: "blocked newRecipe";
}

.newRecipe {
  grid-area: newRecipe;
  height: 100%;
  background-color: var(--background-standard-color);
  padding: 24px;
  overflow-y: scroll;
}

.newRecipe p {
  font-weight: 600;
}

.newRecipe__textareaWithLabel {
  display: flex;
  flex-direction: column;
  background: var(--background-gray-color);
  border: 1px solid #54B5BA;
  border-radius: 4px;
}

.newRecipe__textareaWithLabel--preparation {
  height: 172px;
}

.newRecipe__textareaWithLabel--title {
  height: 54px;
}


.newRecipe__textareaWithLabel label {
  padding-left: 8px;
  padding-top: 8px;
  padding-bottom: 2px;
  padding-right: 8px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}

.newRecipe__textareaWithLabel textarea {
  padding-left: 8px;
  padding-right: 8px;
  border: none;
  resize: none;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  background-color: transparent;
}

.newRecipe__textareaWithLabel textarea:focus {
  border: none;
  outline: none;
}

.newRecipe__textareaWithLabel textarea::placeholder {
  color: var(--disable-color);
}

.newRecipe__ingredients {
  height: 172px;
  overflow-y: scroll;
  width: 100%;
}

li::marker{
  font-size: 12px;
  line-height: 16px;
}

.newRecipe__ingredient {
  margin-bottom: 42px;
}

.newRecipe__ingredient input {
  background: var(--background-gray-color);
  border: 1px solid #54B5BA;
  border-radius: 4px;
  padding: 8px;
  width: 75%;
  line-height: 24px;
  font-size: 14px;
}

.newRecipe__ingredient input:focus {
  outline: none;
}

.newRecipe__ingredient img {
  padding-left: 25px;
  cursor: pointer;
}



.newRecipe__reviews label {
  padding-left: 14px;
  padding-right: 24px;
  font-size: 14px;
}


.newRecipe__footer{
  display: flex;
  height: 136px;
  justify-content: right;
  margin-top: 39px;
}

.newRecipe__createButton {
  cursor: pointer;
  width: 110px;
  height: 48px;
  background: #B2B2B3;
  border-radius: 25px;
  border: none;
}

/*MEDIA QUERYS */

@media screen and (max-width: 900px) {

  .app {
    grid-template-columns: 80px 4fr;
  }

  .recipes {
    padding-left: 12px;
  }

  .droplist__list {
    width: 60%;
  }


  h2 {
    font-size: 16px;
  }

  .recipes__nav__subtitle {
    margin-bottom: 0;
  }

  .recipes__nav__bar {
    flex-direction: column;
  }

  .recipes__nav__search {
    width: 90%;
  }

  .recipes__nav__drop {
    width: 90%;
    max-width: none;
  }


  .recipes__table--items {
    font-size: 10px;
  }

  .recipes__table--header {
    font-size: 8px;
  }



}